<footer>
    <p>
      {% if site.github_username %}
      <a itemprop="github" href="https://github.com/{{ site.github_username }}" title="Github">
        <svg><use xlink:href="#icon-github"></use></svg>
      </a>
      {% endif %}
      {% if site.facebook_username %}
      <a itemprop="facebook" href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
        <svg><use xlink:href="#icon-facebook"></use></svg>
      </a>
      {% endif %}
      {% if site.twitter_username %}
      <a itemprop="twitter" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
        <svg><use xlink:href="#icon-twitter"></use></svg>
      </a>
      {% endif %}
      {% if site.medium_username %}
      <a class="social_commingSoon" itemprop="medium" href="https://medium.com/@{{ site.medium_username }}" title="medium">
        <svg><use xlink:href="#icon-medium"></use></svg>
      </a>
      {% endif %}
      {% if site.instagram_username %}
      <a class="social_commingSoon" itemprop="instagram" href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
        <svg><use xlink:href="#icon-instagram"></use></svg>
      </a>
      {% endif %}
      {% if site.linkedin_username %}
      <a class="social_commingSoon" itemprop="linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn">
        <svg><use xlink:href="#icon-linkedin"></use></svg>
      </a>
      {% endif %}
      <div id="socialComingSoonPopUp">Comming soon! <span class="bottom-carret"></span>
      </div>
    </p>
    <ul>
        {% for link in site.links %}
          <li><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        <li><a class="feed" href="{{ site.url }}{{site.baseurl}}/feed.xml" title="Atom/RSS feed">Feed</a></li>
    </ul>
    <p><span>DreamCode</span>  with <svg class="love"><use xlink:href="#icon-heart"></use></svg> <span style="margin-left: 1em">@2018</span></p>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper-utils.js"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include stats.html %}
