#splash
    height rem(500px)
    width 100%
    position relative
    overflow hidden
    background url("/assets/img/cms-banner.jpg")
    background-size cover
    border-bottom blue 1px solid
    .overlay
        background black 
        opacity 0.5
        width 100%
        height 100%
        position absolute
        left 0
        top 0
        z-index 3
    

#splash_title
    position absolute 
    top 50%
    left 50%
    transform translate(-50%,-50%)
    font-family 'Titillium Web', 'Helvetica Neue', Helvetica, sans-serif
    font-size rem(40px)
    color rgba(255,255,255,0.8)
    z-index 5