#socialComingSoonPopUp
    position relative
    left rem(-12px) !important
    transition 0.4s all ease
    padding rem(5px) rem(5px) rem(5px) rem(5px)
    background #ce2c34
    border-bottom 1px yellow solid
    visibility visible
    margin 0
    opacity 1
    .bottom-carret
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid yellow;
        position absolute
        top 100%
        left 50%
        transform translate(-50%)
  
#socialComingSoonPopUp.hide
        opacity 0 !important
        transition 0.4s all ease
#socialComingSoonPopUp.hidden
        display none
